<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Nectary Unit Test Suite">
            <directory suffix="-test.php">./tests/unit</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="Nectary Integration Test Suite">
            <directory suffix="-test.php">./tests/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="coverage/clover.xml"/>
        <log type="coverage-html" target="coverage/"/>
    </logging>
</phpunit>